@page "/counter"
@using Microsoft.AspNetCore.Components.Sections

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_currentCount</p>

<SectionContent SectionName="top-bar">
    <button class="btn btn-primary" @onclick="IncrementCount">Click me I</button>
</SectionContent>
 
<SectionContent SectionId="TelerikBlazorApp1.Client.Layout.MainLayout.TopbarSection">
    <button class="btn btn-primary" @onclick="IncrementCount">Click me II</button>
</SectionContent>

@code {
    private int _currentCount = 0;

    private void IncrementCount()
    {
        _currentCount++;
    }
}
 